*{
    padding: 0px;
    margin: 0px;
}

#main {
    background-color: #f0f8ff;
    padding: 100px;
}

header {
    background-color: black;
    padding-top: 5px;    
    padding-left: 15px;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header > p {
    font-size: 40px;
    font-weight: bold;
    width: 50%;

}

#formDiv {
    background-color: #cdecb8c7;
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    display: none;
}
.formElements {
    background-color: #fcfdc6;
    padding: 10px;
    width: 100%;
    margin: 10px;
}

#showHide {
    padding: 10px;
    width: 500px;
    height: 60px;
    margin: 0px auto 50px auto;
    display: block;
    font-size: 20px

}

.eachCar {
    width: 500px;
    height: 200px;
    margin: 10px auto;
    padding: 10px 30px;
    position: relative;
    background-color: rgba(176, 229, 250, 0.774);

}

img {
    width: 150px;
    float: left;
    margin: 0 auto;
}
.make {
    width: 100px;
    float: left;
    margin: 0 50px;
    font-size: 30px;
}
.model {
    width: 100px;
    float: left;
    margin: 0 50px;
    font-size: 20px;
}
.category {
    font-weight: bold;
    margin: 0 auto;
    float: left;
    width: 400px;
    height: 60px
}
.price{
    width: 100px;
    float: left;
    margin: 0 50px;
    font-size: 15px;
    padding-top: 10px;
}
.button {
    margin-top: 10px;
}
#addCar{
    font-weight: 800;
    text-align: center;
    font-size: 40px
}
